<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>phonepalace</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css"> 
    <link href="/css/shop.css" rel="stylesheet" type="text/css"> 
    <link href="/css/blog.css" rel="stylesheet" type="text/css"> 
    <link href="/css/about.css" rel="stylesheet" type="text/css"> 
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">

</head>
<body>
  <div class="container">

    <section class="header" id="header">
        <a href="#"><h4 class="logo">Phone Palace</h4></a>
        <div>
            <ul id="navbar">
                <li><a href="/phonepalace/home">Home</a></li>
                <li><a href="/phonepalace/shop">Shop</a></li>
                <li><a href="/phonepalace/blog">Blog</a></li>
                <li><a class="active" href="/phonepalace/about">About</a></li>
                <li><a href="/phonepalace/contact">Contact</a></li>
                <li id="lg-bag"><a href="/phonepalace/cart"><i class="fa fa-shopping-bag"></i></a></li>
                <a href="#"><i class="fa fa-times" id="close"></i></a>

            </ul>
        </div>

        <div id="mobile">
            <a href="cart.html"><i class="fa fa-shopping-bag"></i></a>
            <i class="fa fa-outdent" id="bar"></i>
        </div>
    </section>

    <section id="about-header" class="about-header">
      
        <h2># KnowUs</h2>
        <p>Who we really are.</p>
        
    </section>

    <section id="about">
        <div class="about-box">
         <div class="about-image">
            <img src="/images/about/product4.jpg" alt="">
         </div>

         <div class="about-text">
            <h1>Who are we?</h1>
            <p>Welcome to [Your E-commerce Site Name], your number one source for [type of products you sell].
                 We're dedicated to providing you the very best of [product category], with an emphasis on quality, customer service, and uniqueness. 
                 Founded in [Year] by [Founder's Name], [Your E-commerce Site Name] has come a long way from its beginnings in [Starting Location]. 
                 When [Founder's Name] first started out, their passion for [related passion, e.g., "eco-friendly products" or "handcrafted goods"] drove them to start their own business.
                 We now serve customers all over [your country or the world], and are thrilled to be a part of the [specific industry type, e.g., "eco-friendly wing" or "fair trade" industry]. 
                 We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.

                Sincerely,
                
                [Your Name] 
                </p>
                <br>
                <marquee bgcolor="#ccc" width="100%" loop="-1" scrollamount="5">We hope you enjoy our products as much as we enjoy offering them to you</marquee>
         </div>
        </div>
       
    </section>
    
    <section id="features" class="section-p1">
        <div class="fe-box">
           <img src="/images/features/feature1.png" alt="shipping">
           <h6>Free Shipping</h6>
        </div>

        <div class="fe-box">
            <img src="/images/features/feature2.png" alt="shipping">
            <h6>Online Order</h6>
         </div>

         <div class="fe-box">
            <img src="/images/features/feature3.png" alt="shipping">
            <h6>Save Money</h6>
         </div>

         <div class="fe-box">
            <img src="/images/features/feature4.png" alt="shipping">
            <h6>Promotions</h6>
         </div>

         <div class="fe-box">
            <img src="/images/features/feature5.png" alt="shipping">
            <h6>Happy Sell</h6>
         </div>

    </section>

    <section id="newsletter" class="section-p1 section-m1">
        <div class="text">
          <h2>Sign Up for News Letters</h2>
          <h4>Get email updates about our latest shop <span>a special offers.</span></h4>
        </div>

        <div class="form">
            <form action="" method="">
                <input type="email" id="email" placeholder="Email" required>
                <button class="normal">Sign Up</button>
            </form>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <h4>Contact</h4>
            <p><strong>Address:</strong> phonepalace@gmail.com</p>
            <p><strong>Phone:</strong> +254 0769809073</p>
            <p><strong>Hours:</strong> 0800Hrs-2000Hrs Mon to Sat</p>

            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-whatsapp"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-youtube"></i>
                </div>
            </div>
        </div>

        <div class="col">
         <h4>About</h4>
         <a href="#">About</a>
         <a href="#">Delivery Info</a>
         <a href="#">Privacy Policy</a>
         <a href="#">Ters & Conditions</a>
         <a href="#">Contact Us</a>
        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Orders</a>
            <a href="#">Help</a>
           </div>

           <div class="col payments">
            <a href=""><img src="" alt="M-pesa"></a>
           </div>

           <div class="copywrite">
            <p>@copywrite 2024, phone palace Ecommerce Website</p>
           </div>
    </footer>

</div>
    <script src="/js/script.js"></script>
</body>

</html>