<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>phonepalace</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css"> 
    <link href="/css/shop.css" rel="stylesheet" type="text/css"> 
    <link href="/css/blog.css" rel="stylesheet" type="text/css"> 
    <link href="/css/contact.css" rel="stylesheet" type="text/css"> 
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">

</head>
<body>
  <div class="container">

    <section class="header" id="header">
        <a href="#"><h4 class="logo">Phone Palace</h4></a>
        <div>
            <ul id="navbar">
                <li><a href="/phonepalace/home">Home</a></li>
                <li><a href="/phonepalace/shop">Shop</a></li>
                <li><a href="/phonepalace/blog">Blog</a></li>
                <li><a href="/phonepalace/about">About</a></li>
                <li><a class="active" href="/phonepalace/contact">Contact</a></li>
                <li id="lg-bag"><a href="/phonepalace/cart"><i class="fa fa-shopping-bag"></i></a></li>
                <a href="#"><i class="fa fa-times" id="close"></i></a>

            </ul>
        </div>

        <div id="mobile">
            <a href="cart.html"><i class="fa fa-shopping-bag"></i></a>
            <i class="fa fa-outdent" id="bar"></i>
        </div>
    </section>

    <section id="blog-header" class="bloh-header">
      
        <h2># Talk_to_Us</h2>
        <p>connect with us from Anywhere</p>
        
    </section>

    <section id="details" class="section-p1">
        <div class="loc-box">
            <div class="locdetails">
             <span>GET IN TOUCH</span>
             <h2>Visit one of our agencies location or contact us today</h2>

             <h3>Head office</h3>
             <div class="loc-details">
                <li>
                    <i class="fa fa-map"></i>
                    <p>Waiyaki way</p>
                </li>

                <li>
                    <i class="fa fa-envelope"></i>
                    <p>Kamaudavid@gmail.com</p>
                </li>

                <li>
                    <i class="fa fa-phone"></i>
                    <p>+254 740 275 765</p>
                </li>

                <li>
                    <i class="fa fa-clock-o"></i>
                    <p>Opening at 8:00am to 8:00pm 24/7</p>
                </li>
             </div>
            </div>

            <div class="google-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d15955.389019163937!2d36.
                            73501823397799!3d-1.2641370295810745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.
                            1!2m1!1sWaiyaki%20Way%2C%20Nairobi!5e0!3m2!1sen!2ske!4v1717919406918!5m2!1sen!2ske" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>
    
    <section id="form" class="section-p1">
      <div class="det-box">
        <div class="client-form">
            <h4>Leave us a Message</h4>
            <form action="../../index.js" method="post">
                <input type="text" name="name" placeholder="Name">
                <input type="email" name="email" placeholder="Email">
                <input type="text" name="subject" placeholder="Subject">
                <textarea name="message" id="" placeholder="your message"></textarea>
                <button class="normal" type="submit">Submit</button>
            </form>
        </div>
        <div class="client-details">
            <h4>Our Team</h4>
            <div class="team-box">
            <div class="img">
                <img src="/images/Google-Pixel-6-Pro-a-removebg-preview.png" alt="">
            </div>

            <div class="member-desc">
             <p>C.E.O and director of Phone Palace company David Kama</p>
            </div>
        </div>
       
        <div class="team-box">
            <div class="img">
                <img src="/images/andrey-matveev-vK1FWXO44Dk-unsplash.jpg" alt="">
            </div>

            <div class="member-desc">
                <p>C.E.O and director of Phone Palace company David Kama</p>
            </div>
        </div>

        <div class="team-box">
            <div class="img">
                <img src="/images/anh-nhat-PdALQmfEqvE-unsplash.jpg" alt="">
            </div>

            <div class="member-desc">
                <p>C.E.O and director of Phone Palace company David Kama</p>
            </div>
        </div>

        <div class="team-box">
            <div class="img">
                <img src="/images/samsung.jpg" alt="">
            </div>

            <div class="member-desc">
                <p>C.E.O and director of Phone Palace company David Kama</p>
            </div>
        </div>

        </div>

      

      </div>
    </section>
 
    <section id="newsletter" class="section-p1 section-m1">
        <div class="text">
          <h2>Sign Up for News Letters</h2>
          <h4>Get email updates about our latest shop <span>a special offers.</span></h4>
        </div>

        <div class="form">
            <form action="" method="">
                <input type="email" id="email" placeholder="Email" required>
                <button class="normal">Sign Up</button>
            </form>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <h4>Contact</h4>
            <p><strong>Address:</strong> phonepalace@gmail.com</p>
            <p><strong>Phone:</strong> +254 0769809073</p>
            <p><strong>Hours:</strong> 0800Hrs-2000Hrs Mon to Sat</p>

            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-whatsapp"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-youtube"></i>
                </div>
            </div>
        </div>

        <div class="col">
         <h4>About</h4>
         <a href="#">About</a>
         <a href="#">Delivery Info</a>
         <a href="#">Privacy Policy</a>
         <a href="#">Ters & Conditions</a>
         <a href="#">Contact Us</a>
        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Orders</a>
            <a href="#">Help</a>
           </div>

           <div class="col payments">
            <a href=""><img src="" alt="M-pesa"></a>
           </div>

           <div class="copywrite">
            <p>@copywrite 2024, phone palace Ecommerce Website</p>
           </div>
    </footer>

</div>
    <script src="/js/script.js"></script>
</body>

</html>