<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>phonepalace</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css"> 
    <link href="/css/shop.css" rel="stylesheet" type="text/css"> 
    <link href="/css/singleP.css" rel="stylesheet" type="text/css"> 
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">

</head>
<body>
  <div class="container">

    <section class="header" id="header">
        <a href="#"><h4 class="logo">Phone Palace</h4></a>
        <div>
            <ul id="navbar">
                <li><a href="/phonepalace/home">Home</a></li>
                <li><a href="/phonepalace/shop">Shop</a></li>
                <li><a href="/phonepalace/blog">Blog</a></li>
                <li><a href="/phonepalace/about">About</a></li>
                <li><a href="/phonepalace/contact">Contact</a></li>
                <li id="lg-bag"><a href="/phonepalace/cart"><i class="fa fa-shopping-bag"></i></a></li>
                <a href="#"><i class="fa fa-times" id="close"></i></a>

            </ul>
        </div>

        <div id="mobile">
            <a href="cart.html"><i class="fa fa-shopping-bag"></i></a>
            <i class="fa fa-outdent" id="bar"></i>
        </div>
    </section>
  

 
    <section id="pro-details" class="section-p1">
        <div class="single-pro-image">
            <img src="<%= products.picture %>" width="100%" id="Main-img" alt="">

            
            <div class="small-image-group">

                <div class="small-image-coll">
                    <img src="<%= products.picture %>" class="small-image" width="100%" alt="">
                </div>
            
                <div class="small-image-coll">
                    <img src="/images/products/product2.jpeg" class="small-image" width="100%" alt="">
                </div>
          
                <div class="small-image-coll">
                    <img src="/images/products/product3.jpg" class="small-image" width="100%" alt="">
                </div>
           
                <div class="small-image-coll">
                    <img src="/images/products/product4.jpeg" class="small-image" width="100%" alt="">
                </div>
            </div>
        </div>
        <div class="single-pro-details">
            <h6><%= products.name %></h6>
            <h4>Durable smartphone</h4>
            <h2>$219.00</h2>

            <select>
                <option>Select color</option>
                <option>black</option>
                <option>pink</option>
                <option>red</option>
            </select>

            <input type="number" value="1">
            <button class="normal">Add to Cart</button>
            <h4>Poducts details</h4>
            <span>Camon 20 has prioritised front-end smoothness via network allocation and multi-network synergy. 
                Network performance in loading TikTok videos is up by q0%, and Communication fluency is up by 25%.</span>
        </div>
    </section>

    <section id="product1" class="section-p1">
        <h2>Check New Arrivals </h2>
        <p> New Mordern Tech Design</p>
        <div class="pro-container">

           <div class="pro">
            <img src="/images/andrey-matveev-Q8My8QEsvY8-unsplash-removebg-preview.png" alt="">
            <div class="des">
                <span>Tecno</span>
                <h5>Tecno Spark-20 Grey</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>Price</h4>
            </div>
            <div class="cart">
            <a href="#"><i class="fa fa-shopping-cart"></i></a>
            </div>
           </div>
           <div class="pro">
            <img src="/images/andrey-matveev-JctZNX_Jz-k-unsplash.jpg" alt="">
            <div class="des">
                <span>Infinix</span>
                <h5>Infinix Hot-10 Light</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>Price</h4>
            </div>
            <div class="cart">
            <a href="#"><i class="fa fa-shopping-cart"></i></a>
            </div>
           </div>

           <div class="pro">
            <img src="/images/anh-nhat-PdALQmfEqvE-unsplash.jpg" alt="">
            <div class="des">
                <span>Nokia</span>
                <h5>Nokia C30-2019</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>Price</h4>
            </div>
            <div class="cart">
            <a href="#"><i class="fa fa-shopping-cart"></i></a>
            </div>
           </div>

           <div class="pro">
            <img src="/images/anh-nhat-yqcloMb3Abw-unsplash.jpg" alt="">
            <div class="des">
                <span>Nokia</span>
                <h5>Nokia C30-2019</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>Price</h4>
            </div>
            <div class="cart">
            <a href="#"><i class="fa fa-shopping-cart"></i></a>
            </div>
           </div>

        </div>
    </section>

    <section id="newsletter" class="section-p1 section-m1">
        <div class="text">
          <h2>Sign Up for News Letters</h2>
          <h4>Get email updates about our latest shop <span>a special offers.</span></h4>
        </div>

        <div class="form">
            <form action="" method="">
                <input type="email" id="email" placeholder="Email" required>
                <button class="normal">Sign Up</button>
            </form>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <h4>Contact</h4>
            <p><strong>Address:</strong> phonepalace@gmail.com</p>
            <p><strong>Phone:</strong> +254 0769809073</p>
            <p><strong>Hours:</strong> 0800Hrs-2000Hrs Mon to Sat</p>

            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-whatsapp"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-youtube"></i>
                </div>
            </div>
        </div>

        <div class="col">
         <h4>About</h4>
         <a href="#">About</a>
         <a href="#">Delivery Info</a>
         <a href="#">Privacy Policy</a>
         <a href="#">Ters & Conditions</a>
         <a href="#">Contact Us</a>
        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Orders</a>
            <a href="#">Help</a>
           </div>

           <div class="col payments">
            <a href=""><img src="" alt="M-pesa"></a>
           </div>

           <div class="copywrite">
            <p>@copywrite 2024, phone palace Ecommerce Website</p>
           </div>
    </footer>

    <script>
   document.addEventListener("DOMContentLoaded", function() {
    const mainimg = document.getElementById("Main-img");
    const smallimg = document.getElementsByClassName("small-image");

    for (let i = 0; i < smallimg.length; i++) {
        smallimg[i].onclick = function() {
            mainimg.src = smallimg[i].src;
        }
    }
});

    </script>

</div>
    <script src="/js/script.js"></script>
</body>

</html>